@import 'react-big-calendar/lib/sass/styles';

@tailwind base;
@tailwind components;
@tailwind utilities;

$transition-slowest: 1000ms;
$transition-slow: 700ms;
$transition-medium: 500ms;
$transition-fast: 300ms;
$transition-faster: 100ms;
$transition-fastest: 75ms;

.rbc-month-view,.rbc-time-view,.rbc-agenda-view {
  border-radius: 1rem;
  border-color: #009471 !important;
  overflow: hidden;
}


.rbc-header {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  background-color: #009471;
  color: white;
}

.rbc-today {
  background-color: #005d4920 !important;
}

.rbc-time-header {
  width: 100%;
}

.rbc-header.rbc-today {
  color: #005d49;
}

.rbc-time-content {
  scrollbar-width: none;
}

.rbc-time-content::-webkit-scrollbar {
  display: none;
}


.rbc-btn-group > button {
  border-color: #00ca8200 !important;
  background-color: #009471 !important;
  color: white !important;
  padding: 1rem;
}

.rbc-toolbar-label {
  font-weight: bold;
  font-size: 1.25rem;
  color: #009471;
}

.rbc-event {
  background-color: #005d4990;
  border-color: #009471;
}
.rbc-current-time-indicator {
  background-color: red !important;
}

.transition-slow {
  transition: all ease-in-out $transition-slow;
}

.transition-slowest {
  transition: all ease-in-out $transition-slowest;
}

.transition-medium {
  transition: all ease-in-out $transition-medium;
}

.transition-fast {
  transition: all ease-in-out $transition-fast;
}

.transition-faster {
  transition: all ease-in-out $transition-faster;
}

.transition-fastest {
  transition: all ease-in-out $transition-fastest;
}


::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: #009471;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #005d49;
}